* {
	margin: 0;
	padding: 0;
}

.box {
	width: 400px;
	height: 500px;
	margin: 150px auto 0;
}

.box>form {
	width: 280px;
	margin: 60px auto 0px;
}

.box>form>p {
	position: relative;
}

.box>form>p>em {
	display: block;
	width: 20px;
	height: 25px;
	background: url(../img/nlcode.png) no-repeat;
	position: absolute;
	top: 11px;
	left: 0;
}

.box>form>p>i {
	display: block;
	width: 20px;
	height: 25px;
	background: url(../img/nlphone.png) no-repeat;
	position: absolute;
	top: 11px;
	left: 0;
}

.logo {
	text-align: center;
}

.uname {
	width: 235px;
	height: 40px;
	border: 0;
	outline: none;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
	padding-left: 25px;
	font-size: 16px;
}

.upwd {
	width: 235px;
	height: 40px;
	border: 0;
	outline: none;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
	padding-left: 25px;
	font-size: 16px;
}

.btn {
	display: inline-block;
	width: 100px;
	height: 37px;
	border-radius: 10%;
	border: 1px solid #000000;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}

.login {
	width: 260px;
	height: 40px;
	margin-top: 20px;
	background-color: #25292E;
	border: 0;
	border-radius: 8px;
	color: #fff;
	font-size: 16px;
}

.link {
	width: 120px;
	height: 20px;
	margin: 20px auto 0;
	cursor: pointer;
}


